* {
	box-sizing: border-box;
}

body {
	width: 1728px;
	height: 10369px;
	background-color: #bbbbbb;
	display: block;
	margin: 0 auto;
	position: relative;
	/* overflow-x: hidden; */
	font-family: 'NWT Bodoni';
}

._H1_ {
	font-size: 170px;
}

._H2_ {
	font-size: 90px;
}

._H3_ {
	font-size: 60px;
}

._H4_ {
	font-size: 40px;
}

._p_ {
	font-size: 24px;
}
._regular_ {
	font-style: normal;
	font-weight: 400;
}

._italic_ {
	font-style: italic;
	font-weight: 400;
}

._bold_ {
	font-style: normal;
	font-weight: 700;
}

._white_ {
	color: #fff;
}

._black_ {
	color: #000000;
}

.vhodnaya_grupa {
	width: 1728px;
	height: 948px;
	background: url('../images/baground_vhodnoy_grupa.svg');
	background-repeat: no-repeat;
	font-size: 170px;
	color: #ffffff;
	font-weight: normal;
}

._heading_1_2_ {
	position: relative;
	top: 462px;
	left: 138px;
	transform: rotate(5deg);
}

._heading_2_2_ {
	position: relative;
	top: 328px;
	left: 531px;
	transform: rotate(5deg);
}

.bacground_door {
	position: relative;
	top: -409px;
	z-index: -3;
	width: 1728px;
	height: 1389px;
	background-image: url('../images/baground_door.svg');
	background-repeat: no-repeat;
}

._list_1_7_ {
	position: relative;
	top: 740px;
	left: 98px;
	transform: rotate(9.89deg);
}

._list_2_7_ {
	position: relative;
	top: 768px;
	left: 140px;
	transform: rotate(9.89deg);
}

._list_3_7_ {
	position: relative;
	top: 791px;
	left: 159px;
	transform: rotate(9.89deg);
}

._list_4_7_ {
	position: relative;
	top: 803px;
	left: 107px;
	transform: rotate(9.89deg);
}

._list_5_7_ {
	position: relative;
	top: 811px;
	left: 46px;
	transform: rotate(9.89deg);
}

._list_6_7_ {
	position: relative;
	top: 843px;
	left: 105px;
	transform: rotate(9.89deg);
}
._list_7_7_ {
	position: relative;
	top: 859px;
	left: 91px;
	transform: rotate(9.89deg);
}

.background_stairs {
	position: relative;
	top: -545px;
	width: 1728px;
	height: 1830px;
	background-image: url('../images/background_stairs.svg');
}

.font_facts_ {
	font-size: 450px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
}

.a_fact {
	position: relative;
	top: -121px;
	left: 48px;
	transform: rotateX(36deg) rotateY(0deg) rotateZ(-23deg);
	font-size: 700px;
}

.f_fact {
	position: relative;
	top: 36px;
	left: 300px;
	transform: rotateX(36deg) rotateY(-19deg) rotateZ(28deg);
}

.k_fact {
	position: relative;
	top: -204px;
	left: -58px;
	transform: rotateX(-17deg) rotateY(39deg) rotateZ(-13deg);
}

.q_fact {
	position: relative;
	top: -888px;
	left: 1233px;
	transform: rotateX(-5deg) rotateY(-17deg) rotateZ(-44deg);
}

.font_explanation {
	font-size: 40px;
	font-weight: 400;
	font-style: italic;
	color: #ffffff;
}

.explanation_settings_1 {
	width: 378px;
	height: 123px;
	position: relative;
	top: -1733px;
	left: 996px;
}

.explanation_settings_2 {
	width: 584px;
	height: 82px;
	position: relative;
	top: -1514px;
	left: 1095px;
}

.explanation_settings_3 {
	width: 622px;
	height: 41px;
	position: relative;
	top: -1254px;
	left: 852px;
}

.explanation_settings_4 {
	width: 607px;
	height: 123px;
	position: relative;
	top: -1011px;
	left: 655px;
}

.paper {
	position: relative;
	top: -558px;
	z-index: 0;
	width: 1728px;
	height: 1118px;
	background-image: url('../images/paper.svg');
	background-repeat: no-repeat;
}

.old_ticket {
	position: relative;
	top: 172px;
	left: 346px;
}

.old_author {
	position: relative;
	top: 215px;
	left: 347px;
}
.old_status {
	position: relative;
	top: 218px;
	left: 347px;
}

.old_location {
	position: relative;
	top: 242px;
	left: 347px;
}

.old_hometown {
	position: relative;
	top: 246px;
	left: 347px;
}

.old_plot {
	position: relative;
	top: 368px;
	left: 209px;
	width: 527px;
	height: 200px;
}

.old_date {
	position: relative;
	top: 254px;
	left: 40px;
	transform: rotate(-90deg);
	width: 230px;
	height: 25px;
}

.old_sign {
	position: relative;
	top: 449px;
	left: 302px;
}

.old_after_words {
	position: relative;
	top: 494px;
	left: 204px;
	width: 527px;
	height: 175px;
}

.ticket {
	position: relative;
	top: -1560px;
	left: 1166px;
}
.author {
	position: relative;
	top: -1516px;
	left: 1158px;
}

.status {
	position: relative;
	top: -1511px;
	left: 1159px;
}

.location {
	position: relative;
	top: -1488px;
	left: 1158px;
}

.hometown {
	position: relative;
	top: -1485px;
	left: 1160px;
}

.plot {
	position: relative;
	top: -1363px;
	left: 1021px;
	width: 527px;
	height: 200px;
}

.date {
	position: relative;
	top: -1476px;
	left: 854px;
	transform: rotate(-90deg);
	width: 230px;
	height: 25px;
}

.sign {
	position: relative;
	top: -1278px;
	left: 1117px;
}

.after_words {
	position: relative;
	top: -1238px;
	left: 1019px;
	width: 527px;
	height: 175px;
}

.bookshelf {
	position: relative;
	top: -1209px;
	width: 1728px;
	height: 1103px;
	background-image: url('../images/bookshelf.svg');
}

.tablet {
	position: relative;
	top: -1209px;
	left: 20px;
}

.shelving {
	position: relative;
	top: -1411px;
	left: 3px;
	width: 1728px;
	height: 1260px;
	background-image: url('../images/shelving.svg');
}

.alphabet {
	font-size: 90px;
	font-weight: normal;
	font-style: italic;
	color: #000000;
	transform: rotate(-3.759deg);
}

.letter_1_30 {
	position: relative;
	top: 245px;
	left: 133px;
}

.letter_2_30 {
	position: relative;
	top: 255px;
	left: 297px;
}

.letter_3_30 {
	position: relative;
	top: 63px;
	left: 463px;
}

.letter_4_30 {
	position: relative;
	top: 37px;
	left: 636px;
}

.letter_5_30 {
	position: relative;
	top: 5px;
	left: 794px;
}

.letter_6_30 {
	position: relative;
	top: -137px;
	left: 956px;
}

.letter_7_30 {
	position: relative;
	top: -115px;
	left: 956px;
}

.letter_8_30 {
	position: relative;
	top: -262px;
	left: 1070px;
}
.letter_9_30 {
	position: relative;
	top: -277px;
	left: 1286px;
}

.letter_10_30 {
	position: relative;
	top: -452px;
	left: 1408px;
}
.letter_11_30 {
	position: relative;
	top: -379px;
	left: 1408px;
}

.letter_12_30 {
	position: relative;
	top: -442px;
	left: 132px;
}

.letter_13_30 {
	position: relative;
	top: -436px;
	left: 291px;
}

.letter_14_30 {
	position: relative;
	top: -599px;
	left: 428px;
}

.letter_15_30 {
	position: relative;
	top: -572px;
	left: 604px;
}

.letter_16_30 {
	position: relative;
	top: -725px;
	left: 786px;
}

.letter_17_30 {
	position: relative;
	top: -750px;
	left: 939px;
}

.letter_18_30 {
	position: relative;
	top: -776px;
	left: 1122px;
}

.letter_19_30 {
	position: relative;
	top: -956px;
	left: 1288px;
}

.letter_20_30 {
	position: relative;
	top: -947px;
	left: 1400px;
}

.letter_21_30 {
	position: relative;
	top: -876px;
	left: 137px;
}

.letter_22_30 {
	position: relative;
	top: -1057px;
	left: 260px;
}

.letter_23_30 {
	position: relative;
	top: -1020px;
	left: 450px;
}

.letter_24_30 {
	position: relative;
	top: -1183px;
	left: 609px;
}

.letter_25_30 {
	position: relative;
	top: -1182px;
	left: 756px;
}

.letter_26_30 {
	position: relative;
	top: -1332px;
	left: 900px;
}

.letter_27_30 {
	position: relative;
	top: -1319px;
	left: 900px;
}

.letter_28_30 {
	position: relative;
	top: -1450px;
	left: 1135px;
}

.letter_29_30 {
	position: relative;
	top: -1454px;
	left: 1234px;
}

.letter_30_30 {
	position: relative;
	top: -1636px;
	left: 1424px;
}

.shelf {
	position: relative;
	top: -1403px;
	width: 1728px;
	height: 1075px;
	background-image: url('../images/shelf.svg');
}

.regular_book {
	display: flex;
	justify-content: center;
	position: relative;
	left: 137px;
	width: 1451px;
	height: 336px;
	background-image: url('../images/regular_book.svg');
	font-size: 60;
	z-index: -1;
}

.regular_container {
	display: inline-flex;
	align-items: center;
	gap: 47px;
}

.regular_book_letter {
	color: #fff;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
}

.italic_book {
	position: relative;
	top: 27px;
	left: 137px;
	width: 1423px;
	height: 333px;
	background-image: url('../images/book-italic.svg');
}
.italic_book_letter {
	color: #fff;
	font-size: 90px;
	font-style: italic;
	font-weight: 400;
}

.i_letter_1 {
	position: relative;
	top: 181px;
	left: 52px;
	transform: rotate(5deg);
}
.t_letter {
	position: relative;
	top: 245px;
	left: 200px;
	transform: rotate(17deg);
}

.a_letter {
	position: relative;
	top: -297px;
	left: 501px;
	transform: rotate(-20deg);
}

.l_letter {
	position: relative;
	top: -742px;
	left: 403px;
	transform: rotate(-64deg);
}

.i_letter_2 {
	position: relative;
	top: -218px;
	left: 1147px;
	transform: rotate(2deg);
}

.c_letter {
	position: relative;
	top: -613px;
	left: 1273px;
	transform: rotate(-24deg);
}
.bold_book {
	position: relative;
	top: 58px;
	left: 137px;
	width: 1425px;
	height: 346px;
	background-image: url('../images/bold_book.svg');
	z-index: -1;
}

.bold_container {
	display: inline-flex;
	align-items: center;
	align-items: flex-end;
	gap: 192px;
	.bold_book_letter:nth-of-type(1) {
		margin-left: 19px;
	}
	.bold_book_letter:nth-of-type(4) {
		margin-left: -15px;
	}
}

.bold_book_letter {
	color: #fff;
	font-size: 300px;
	font-style: normal;
	font-weight: 700;
}

.glif_book {
	position: relative;
	top: -1381px;
	left: 0px;
	width: 1728px;
	height: 1816px;
	background-image: url('../images/glif_book.svg');
}

.glif_naming {
	position: relative;
	top: 1158px;
	left: -126px;
	transform: rotate(57deg);
	color: #fff;
	font-size: 170px;
	font-style: normal;
	font-weight: 700;
}

.number_book {
	position: relative;
	top: -3128px;
	left: -198px;
	z-index: -1;
	width: 1728px;
	height: 2339px;
	background-image: url('../images/number_book.svg');
}

.number_naming {
	position: relative;
	top: 1270px;
	left: 868px;
	color: #fff;
	font-size: 170px;
	font-style: italic;
	font-weight: 400;
	transform: rotate(-20deg);
}

.number_ {
	color: #000000;
	font-size: 128px;
	font-style: italic;
	font-weight: 400;
	transform: rotate(5deg);
}

.count_1_9 {
	position: relative;
	top: 1631px;
	left: 1019px;
}

.count_2_9 {
	position: relative;
	top: 1705px;
	left: 912px;
}

.count_3_9 {
	position: relative;
	top: 1420px;
	left: 1125px;
}

.count_4_9 {
	position: relative;
	top: 1408px;
	left: 1086px;
}

.count_5_9 {
	position: relative;
	top: 1030px;
	left: 1240px;
}

.count_6_9 {
	position: relative;
	top: 1083px;
	left: 1250px;
}

.count_7_9 {
	position: relative;
	top: 1052px;
	left: 1297px;
}

.count_8_9 {
	position: relative;
	top: 804px;
	left: 1400px;
}
.count_9_9 {
	position: relative;
	top: 779px;
	left: 1448px;
}
